@font-face { 
    font-family: "retroFont"; src: url("assets/font/retrofont.ttf") format("truetype"); 
}

* {
    font-family: "retroFont";
}

body {
    background-color: #2F313F;
    width: 100%;
}

canvas {
    max-height: 95vh;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    top: 0;
    position: relative
} 

#game {
    position: absolute;
    height: 100%;
}

#error {
    color: white;
    text-align: center;
    padding: 1em;
}



